/* Glassmorphism card effect */
.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(209, 213, 219, 0.3);
  -webkit-box-shadow: 0 8px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
}

.card .ant-card-head-title {
  text-transform: capitalize;
}
