.community-group-card .ant-card-body {
  padding: 0 0 1rem 0;
}

.community-group-list .ant-list-item {
  /*padding: 0;*/
}

.community-group-list .ant-list-item-meta {
  margin-block-end: 0 !important;
  align-items: center !important;
}

.community-group-list .ant-list-item-meta-title {
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.community-group-list .ant-list-item-meta-title a {
  font-size: 16px;
}
